body {
    display: flex;
    flex-direction: column;
  }
  .titre-portfolio {
    text-align: center;
    font-size: 60px;
    font-family: Playfair Display, serif;
    margin: 70px 0 70px;
    color: #000;
  }
  .grille-portfolio {
    width: 90%;
    max-width: 1700px;
    min-width: 300px;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
  }
  .grid-item {
    height: 250px;
    cursor: pointer;
    position: relative;
    margin: 30px 15px;
  }
  .grid-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .description {
    position: absolute;
    top: -25px;
    left: 0px;
    font-size: 18px;
  }
  .prix {
    position: absolute;
    top: -27px;
    right: 0px;
    font-size: 23px;
    font-weight: bold;
  }
  
  @media screen and (max-width: 550px) {
    .grille-portfolio {
      grid-template-columns: repeat(auto-fill, 300px);
    }
    h1 {
      font-size: 30px;
    }
  }